<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DYNAMOREVIT_INSTALLDIR">
            <Directory Id="dirFD61DF07BFFF2529B10307810AAB5503" Name="Revit_2015" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="RELEASE">
            <Component Id="cmp07F65476F1B725CC1617178EBD28535B" Directory="DYNAMOREVIT_INSTALLDIR" Guid="{2C27AF17-92D5-4225-80D7-4C12A05754F6}">
                <File Id="fil9AEC9BCF65770BC1A0775C324D019375" KeyPath="yes" Source="$(var.release)\DynamoAddInGenerator.exe" />
            </Component>
            <Component Id="cmp0AADFC9E322AD21D26ED96462706B8F9" Directory="DYNAMOREVIT_INSTALLDIR" Guid="{6D2E3DE1-9ECA-4F43-A7C1-76855ABBD4B1}">
                <File Id="filCC3B3160C778E5C0433105B10C6A71BA" KeyPath="yes" Source="$(var.release)\DynamoInstallDetective.dll" />
            </Component>
            <Component Id="cmp22309B2F539532EA00D4AEC336AB74D7" Directory="DYNAMOREVIT_INSTALLDIR" Guid="{A4219FF0-3C21-41CB-BEA1-F3617EE735DF}">
                <File Id="fil4709020FBD8F2D55E269E81657BAB4A9" KeyPath="yes" Source="$(var.release)\RevitAddinUtility.dll" />
            </Component>
            <Component Id="cmp2BD217A29149C0BF1A33BA8CBBE1BE95" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{C911F5E5-90A7-4E2F-ACBA-1387060D3C8D}">
                <File Id="fil574882C7B94F7DFF10F1EE06A21660C7" KeyPath="yes" Source="$(var.release)\Revit_2015\AssemblyInfoGenerator.dll" />
            </Component>
            <Component Id="cmp548F16FB3E44FD2AE620438B9DC73082" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{AC961DA2-615A-48B2-890F-019E5346BA43}">
                <File Id="fil891162601321417EB759EA8F262DBC91" KeyPath="yes" Source="$(var.release)\Revit_2015\DSRevitNodesUI.customization.dll" />
            </Component>
            <Component Id="cmp6FF6BAFC3490DF6622E8425AC8A25AF0" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{09B37901-76EB-4767-8664-95F633939015}">
                <File Id="filAC615E29AE20C6E8BFE0E7F9E102709E" KeyPath="yes" Source="$(var.release)\Revit_2015\DSRevitNodesUI.dll" />
            </Component>
            <Component Id="cmpA2DE6D35FAA6C68114FDFE23D53AAFAD" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{E15348CB-DCC9-4243-89BB-7695A868C481}">
                <File Id="filF9A405FDC674DEE6A84C294B9899FD90" KeyPath="yes" Source="$(var.release)\Revit_2015\DynamoRaaS.customization.dll" />
            </Component>
            <Component Id="cmpA829FB5EAEBA806C02FFDFB18F6E571D" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{3E2549AF-774A-474D-944C-F9B7F2FA1008}">
                <File Id="fil14DD6A713A28D3805EE5F49461CC5B2A" KeyPath="yes" Source="$(var.release)\Revit_2015\DynamoRaaSHelper.dll" />
            </Component>
            <Component Id="cmp60B6C8B7CBFFA1F6D682B6CEBA7F80E0" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{363825CE-1B36-4017-A471-427FAC61A8F7}">
                <File Id="fil621D8FCAA0A7D549BB39544102A41356" KeyPath="yes" Source="$(var.release)\Revit_2015\DynamoRevitDS.dll" />
            </Component>
            <Component Id="cmpA7D8A83ECD64DCBC5F8A31009B37446B" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{7CE5A385-CF1F-4AED-8BEE-D8A7A8F31E18}">
                <File Id="fil17B03B27E2CC6B693239BBE6B2B6C2AD" KeyPath="yes" Source="$(var.release)\Revit_2015\DynamoRevitVersionSelector.dll" />
            </Component>
            <Component Id="cmp8F2213511DDB8496A6EEAE01FF1D5B9E" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{B4B6232C-612C-47E8-9CB1-3F650D320173}">
                <File Id="filBFC2BC6AF38FDF6511B964A173618449" KeyPath="yes" Source="$(var.release)\Revit_2015\DynamoUtilities.dll" />
            </Component>
            <Component Id="cmp5DC093BA8B6EC0082E4D523044AD0D45" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{96B5CCEF-3F11-400B-81B2-CD2DAB6C50E5}">
                <File Id="filA46CA0098326823D75A138A72C88EEFE" KeyPath="yes" Source="$(var.release)\Revit_2015\GregRevitAuth.dll" />
            </Component>
            <Component Id="cmp3D93338E57C0EE2C9463B3291B0D9D5E" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{8A7F1BC2-AA84-40FE-B8E0-FD1D77E17FF1}">
                <File Id="filAD37042C79EDDA6EFAC69FBB315951A8" KeyPath="yes" Source="$(var.release)\Revit_2015\ICSharpCode.AvalonEdit.dll" />
            </Component>
            <Component Id="cmp7C43ECC5DF8BFB2C0BF307752475BF35" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{87FDC1F8-72E2-4DDC-BF29-C58B3AEE9CF1}">
                <File Id="filCA43351AA6B02B08765B3B70C7DF501F" KeyPath="yes" Source="$(var.release)\Revit_2015\ICSharpCode.AvalonEdit.xml" />
            </Component>
            <Component Id="cmp550CF8F02A9B2BC0D2DD68B19FFA8B1C" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{6557CC51-2BB9-4D8A-9229-D9F6ED0F5B33}">
                <File Id="filA08E95AE8DD2BE3F148D828995DF0867" KeyPath="yes" Source="$(var.release)\Revit_2015\JobMonitor.dll" />
            </Component>
            <Component Id="cmpCB24CE16DFDCACA0D691B81BAA4B68B3" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{2E8C69C9-9008-4B57-B15F-0B33669B3499}">
                <File Id="fil42FC181335EA52578A4707683C936BF5" KeyPath="yes" Source="$(var.release)\Revit_2015\Microsoft.Dynamic.dll" />
            </Component>
            <Component Id="cmp289BCEB3344EF7AFFA27AEFA1B0386C5" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{8AB44E61-0305-43E4-8AC8-5709DEB12D06}">
                <File Id="fil38A4BA56A41634BA94AFD234146D1E95" KeyPath="yes" Source="$(var.release)\Revit_2015\Microsoft.Dynamic.xml" />
            </Component>
            <Component Id="cmp3B5FB95715557BC819DD0E2B349005DA" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{086E3EBF-EA2B-4F21-B7E4-063F8666A202}">
                <File Id="filB47E801F53814CBB4F0868DD978A296D" KeyPath="yes" Source="$(var.release)\Revit_2015\Microsoft.Scripting.dll" />
            </Component>
            <Component Id="cmp92A96B1C61D1398E2EAA645813B3CFF7" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{37F7D3E3-8B30-4993-AF6D-B50F15BBB838}">
                <File Id="filEB692185BE5614356A7FC4152903627C" KeyPath="yes" Source="$(var.release)\Revit_2015\Microsoft.Scripting.xml" />
            </Component>
            <Component Id="cmpB5A751022BC956A30CFF5977DC09E9B6" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{DF01D51D-002B-4C6E-BCA1-550AA399A04B}">
                <File Id="filCD1725A2EA5BDFD82C131340CF76D27E" KeyPath="yes" Source="$(var.release)\Revit_2015\Migrations.dll" />
            </Component>
            <Component Id="cmp84D16ACCA448833AB6EE9245E7B25FFD" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{89F35E03-3AE5-49B9-857D-5BDEDC224B9B}">
                <File Id="fil092810A9352204A2778A69199575CE7F" KeyPath="yes" Source="$(var.release)\Revit_2015\RevitNodes.customization.dll" />
            </Component>
            <Component Id="cmp0FEEC5742D15FD8388D9E44BDD3C41FD" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{0347396B-3EC9-4443-A87F-D12DCD5A7825}">
                <File Id="fil8B918BC372D63675394721FDE1B81FED" KeyPath="yes" Source="$(var.release)\Revit_2015\RevitNodes.dll" />
            </Component>
            <Component Id="cmp94B52195FDC5E16271EB25A8A0205542" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{282B80CB-31C9-4C42-8CBF-BB3D5F5D7C9A}">
                <File Id="fil6FE19DDF9C019B639E3BA4B338397B6A" KeyPath="yes" Source="$(var.release)\Revit_2015\RevitNodes.Migrations.xml" />
            </Component>
            <Component Id="cmpCAB4E51F77567E7FC8D4D61155AA3561" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{BCBB4981-F3A9-4721-9791-6C8FE85DAAD3}">
                <File Id="fil6AEB62B601869D23CEEDE793BB3E5452" KeyPath="yes" Source="$(var.release)\Revit_2015\RevitNodes_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp67BD9AAE4FA00801E6B69D8EE16297BB" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{58728BEA-6230-4F13-B31F-8BDE4BA2A5C3}">
                <File Id="fil662ED1D7B71B54039EAF23CBBEF6EFB6" KeyPath="yes" Source="$(var.release)\Revit_2015\RevitRaaS.dll" />
            </Component>
            <Component Id="cmpE9B523DA03E903B249004C3EDBAE1BC2" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{B9FA9D32-742E-4C63-9D4C-A4A2C5090904}">
                <File Id="filAA2F76F4760B27BC4905E5612F4910F0" KeyPath="yes" Source="$(var.release)\Revit_2015\RevitRaaS.dll.config" />
            </Component>
            <Component Id="cmpACC14A29CD2E38026BF0CB62946CF184" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{08D52CB2-8306-426D-B29D-84E8B79E7AEF}">
                <File Id="fil7D17C0101A6556682C7CD77D133C42E7" KeyPath="yes" Source="$(var.release)\Revit_2015\RevitServices.dll" />
            </Component>
            <Component Id="cmpA244E9B5A8B4C0E5CEB57ECCC283B0D9" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{854D6109-8C9D-450E-8A25-2D55586FFC23}">
                <File Id="fil050E9284E7DE04F34C188DCB244C9703" KeyPath="yes" Source="$(var.release)\Revit_2015\SDF.dll" />
            </Component>
            <Component Id="cmpBCF0ABEA0BD5DA2019AD3A0E2B45ED1C" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{4A92AF5F-4B77-4440-8A1F-E2986C16D2A3}">
                <File Id="filE15906FA1DC6D2B1B883804B2D8169DB" KeyPath="yes" Source="$(var.release)\Revit_2015\SimpleRaaS.customization.dll" />
            </Component>
            <Component Id="cmp0CAD24E02C905E491514F48CA06A1AB9" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{297CD332-48F2-42FD-A58A-94B15B1F60BD}">
                <File Id="filCEB1BCBA1FFBEACDBDA5D57055B1C18E" KeyPath="yes" Source="$(var.release)\Revit_2015\SimpleRaaS.dll" />
            </Component>
            <Component Id="cmp9F87EF6D5DEB109CF8E9687762B3D7B0" Directory="dirFD61DF07BFFF2529B10307810AAB5503" Guid="{314C3708-147C-49F6-B70A-D2FB5853F502}">
                <File Id="fil9ADCD714082AD33872023749E0818817" KeyPath="yes" Source="$(var.release)\Revit_2015\SimpleRaaS_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp8D771B016DE04F67F1888DC63DEBE2B5" Directory="dir416CF26834D120375CD850086E850D6B" Guid="{BFB4A57E-4FC5-409B-8E5F-6F1AB8BE2A3F}">
                <File Id="fil3AE7090FC7EC29E44BDAD8899108714B" KeyPath="yes" Source="$(var.release)\Revit_2015\en-US\DSRevitNodesUI.resources.dll" />
            </Component>
            <Component Id="cmpEE0DDED0ADC8397A3875AD9B541AE9B9" Directory="dir416CF26834D120375CD850086E850D6B" Guid="{3297E7B6-CE27-480D-A3FD-51E00512B9CA}">
                <File Id="filD7C49E889DA159912CFB638507E37125" KeyPath="yes" Source="$(var.release)\Revit_2015\en-US\DynamoRaaS.resources.dll" />
            </Component>
            <Component Id="cmpD1925FCDB8F6308FB33DA36072E12073" Directory="dir416CF26834D120375CD850086E850D6B" Guid="{466F31D9-01D2-4DB7-A8C4-DDE8D0F43B14}">
                <File Id="fil1F81DAAB7AAEB38163E5294E79EF87A3" KeyPath="yes" Source="$(var.release)\Revit_2015\en-US\DynamoRevitDS.resources.dll" />
            </Component>
            <Component Id="cmp8263ADEF7551C5A83D688C27644E51B3" Directory="dir416CF26834D120375CD850086E850D6B" Guid="{9FAB8F33-01AE-49BA-ADA2-95CFDF036622}">
                <File Id="filF15D9E00F2175E3CB5D4B1448F3A1C5A" KeyPath="yes" Source="$(var.release)\Revit_2015\en-US\DynamoRevitVersionSelector.resources.dll" />
            </Component>
            <Component Id="cmp33EE5162F1ABE5E76050B946E0BE88A4" Directory="dir416CF26834D120375CD850086E850D6B" Guid="{B526EB6E-005D-48D6-9D67-4FC8ED9B0A89}">
                <File Id="fil6FE206B39B8911F415F4AC993040478C" KeyPath="yes" Source="$(var.release)\Revit_2015\en-US\RevitNodes.resources.dll" />
            </Component>
            <Component Id="cmp8AF54BA00EE37E18B21DE930EC302A21" Directory="dir416CF26834D120375CD850086E850D6B" Guid="{592E6932-C52E-4F72-AD84-284D29C0BCDE}">
                <File Id="filB00C8E5FB9290A139150A99952556948" KeyPath="yes" Source="$(var.release)\Revit_2015\en-US\RevitRaaS.resources.dll" />
            </Component>
            <Component Id="cmp7973EC9A56224015F04806504362A9BE" Directory="dir416CF26834D120375CD850086E850D6B" Guid="{670BA98D-E823-4BDB-8BCC-53AB9A2159C4}">
                <File Id="fil507ED93B51834A8B359CC6C5542F7D10" KeyPath="yes" Source="$(var.release)\Revit_2015\en-US\SimpleRaaS.xml" />
            </Component>
            <Component Id="cmp7929312CEE6F40A783F7F0732E25A983" Directory="dirDB532A3EEA275C4AFE8E3E65F4DC091A" Guid="{0AE2B769-89AC-4776-9EA3-57FC50A5DCA7}">
                <File Id="fil5DF1C5FBCE86ECE275B61AC22F602F20" KeyPath="yes" Source="$(var.release)\Revit_2015\nodes\DynamoRaaS.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFD61DF07BFFF2529B10307810AAB5503">
            <Directory Id="dir416CF26834D120375CD850086E850D6B" Name="en-US" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFD61DF07BFFF2529B10307810AAB5503">
            <Directory Id="dirDB532A3EEA275C4AFE8E3E65F4DC091A" Name="nodes" />
        </DirectoryRef>
    </Fragment>
</Wix>