<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="PROGDATA">
            <Directory Id="dirB82F134F01CDF559844BCB3CBC3092DF" Name="Samples" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SAMPLES">
            <Component Id="cmp2F9F12CC0392970235A30D86C5523B54" Directory="dirE26FDCD75F308D0BD2B68C52B151EA97" Guid="{4AB2B2B0-3F9A-4276-9A9A-95B47BBBCF37}">
                <File Id="filCF13EFE38C0C9E728C0DCB5F8B1DB5C8" KeyPath="yes" Source="$(var.samples)\en-US\Revit\Revit_Adaptive Component Placement.dyn" />
            </Component>
            <Component Id="cmp184BB340D0FA5630051207B7BFD6A7F6" Directory="dirE26FDCD75F308D0BD2B68C52B151EA97" Guid="{51483D73-1F82-4589-8D8E-E8C474DB79E0}">
                <File Id="filD506F174F3CE4CBB3924D0F16E85AD46" KeyPath="yes" Source="$(var.samples)\en-US\Revit\Revit_Color.dyn" />
            </Component>
            <Component Id="cmp46D7C38D23100AA4B7D16F3AD5227614" Directory="dirE26FDCD75F308D0BD2B68C52B151EA97" Guid="{145D261F-81D3-499D-AB85-63C5351F947C}">
                <File Id="filB912E7DEBC48067DD48C4F971DCAF193" KeyPath="yes" Source="$(var.samples)\en-US\Revit\Revit_Floors and Framing.dyn" />
            </Component>
            <Component Id="cmpC22E0065EADCC56F7D305F9FEB2A9D22" Directory="dirE26FDCD75F308D0BD2B68C52B151EA97" Guid="{CB0CAA29-38AB-4E23-8709-C3BF42A9A540}">
                <File Id="fil2E154EE7513AA9CB55871CE54E1B3068" KeyPath="yes" Source="$(var.samples)\en-US\Revit\Revit_ImportSolid.dyn" />
            </Component>
            <Component Id="cmp37932F0DF8FADDDE28F97263D19C214A" Directory="dirE26FDCD75F308D0BD2B68C52B151EA97" Guid="{2C996216-0405-4100-94F5-B83A393D87D9}">
                <File Id="fil96CA325EEA01CE584404532019B98AC5" KeyPath="yes" Source="$(var.samples)\en-US\Revit\Revit_PlaceFamiliesByLevel_Set Parameters.dyn" />
            </Component>
            <Component Id="cmp519089DCF448469B52B46976C382D7E1" Directory="dirE26FDCD75F308D0BD2B68C52B151EA97" Guid="{16265763-6429-4BF3-B966-4AD2DDFB1389}">
                <File Id="fil91ADAD93034DCC26BD888F49897E3488" KeyPath="yes" Source="$(var.samples)\en-US\Revit\Revit_StructuralFraming.dyn" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF1A60FC9FD8AF225CBF83117131D4E67">
            <Directory Id="dirE26FDCD75F308D0BD2B68C52B151EA97" Name="Revit" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirB82F134F01CDF559844BCB3CBC3092DF">
            <Directory Id="dirF1A60FC9FD8AF225CBF83117131D4E67" Name="en-US" />
        </DirectoryRef>
    </Fragment>
</Wix>